* {
    margin: 0;
    padding: 0;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: maroon; 
    padding: 25px;
}
.right-nav {
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 10px;
    color: white;
}
.header-container {
    background-image: url(/images/banner/banner3.png);
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.frist-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    font-style: normal;
    margin: 15px;
    color: white;
}

.frist-description {
    font-family: sans-serif;
    color: rgb(14, 13, 13);
    font-weight: 400;
    font-size: 1em;
    padding: 15px;
}

.btn {
    height: 40px;
    width: 90px;
    background-color: coral;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    text-align: center;
}
.btn-1{
    height: 40px;
    width: 90px;
    background-color: coral;
    border: none;
    border-radius: 5px;
    color: white; 
}
.header-title {
    text-align: end;
    margin: 35px;
    padding: 18px;
}

/* second part */
.second-part-container {
    background-color: rgb(245, 225, 228);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pro-pic {
    height: 500px;
    width: 450px;
}

.second-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    font: 2.5em sans-serif;
    margin-bottom: 15px;
}

.icon-tag>i {
    margin-top: 10px;
    color: rgb(250, 69, 4);
}

/* third part */
.third-title {
    text-align: center;
    margin: 25px;
    font-size: 3em;
    font-weight: bolder;

}

.third-part-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 35px;
    text-align: center;
}

/* fourth-part-container */
.fourth-part-container {
    background-image: url(/images/gradient1.png), url(/images/watch.png);
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-size: cover;
    height: 30vh;
    margin: 35px;
    padding: 35px;
    border-radius: 20px;
}

.fourth-title {
    color: rgb(248, 10, 10);
    font: 3em sans-serif;
}

/* footer section */
.footer-contaoiner {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 150px;
}

.subscribe>h1 {
    font: 2.5em sans-serif;
    font-weight: 900;
}

.future>h1{
    font: 2.5em sans-serif;
    font-weight: 900;
}
.input-bitton{
    border: none;
    height: 60px;
    width: 250px;
    padding-left: 5px;
    margin-bottom: 15px;
   background-color: rgb(83, 3, 23);
    border-radius: 5px;
}

/* using media query part */

@media screen and (max-width: 576px){
    .header-container{
        flex-direction: column;
        margin: auto;

    }
    .second-part-container{
        flex-direction: column;
       padding: 25px;
    }
    .third-part-container{
        flex-direction: column;
    }
    .footer-contaoiner{
        flex-direction: column;
        padding: 25px;
        width: 100%;
    }
    .subscribe{
        
        width: 100%;
    }
    
}
@media screen and (max-width: 768px){
    .header-container{
        /* max-resolution: 1140px; */


    }
    .second-part-container{
        flex-direction: column;
    }
    .third-part-container{
        flex-direction: column;
    }
    .footer-contaoiner{
        flex-direction: column;
    }
    
}
@media screen and (max-width: 992px){
    .header-container{
        max-resolution: 1140px;

    }
    .second-part-container{
        flex-direction: column;
    }
    .third-part-container{
        flex-direction: column;
    }
    .footer-contaoiner{
        /* flex-direction: column; */
    }
    
}
/* @media screen and (max-width: 1200px){
    .header-container{
        max-resolution: 1140px;

    }
    .second-part-container{
        flex-direction: column;
    }
    .third-part-container{
        flex-direction: column;
    }
    .footer-contaoiner{
        flex-direction: column;
    }
    
} */
/* @media screen and (max-width: 1400px){
    .header-container{
       

    }
    .second-part-container{
        flex-direction: column;
    }
    .third-part-container{
        flex-direction: column;
    }
    .footer-contaoiner{
        flex-direction: column;
    }
    
} */
