* {
    margin: 0;
    padding: 0;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header-container{
    background-image: url(/images/banner/banner3.png);
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.header-title{
    text-align: end;
    margin: 35px;
    padding: 18px;
}
/* second part */
.second-part-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* third part */
.third-title{
    text-align: center;

}
.third-part-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 35px;
}
/* fourth-part-container */
.fourth-part-container{
    background-image: url(/images/gradient1.png),url(/images/watch.png);
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-size: cover;
    height: 30vh;
    margin: 35px;
    padding: 35px;
    border-radius: 20px;  
}
/* footer section */
.footer-contaoiner{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 150px;
}
.subscribe{
    padding: 15px;
}